@import "tailwindcss";
@import "tw-animate-css";
@source "../node_modules/@my-company/ui-lib";

html {
    @apply font-poppins;
}

@layer base {

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        --color-input: #a7a7a7;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

@theme {
    --color-background: #ffffff;
    --color-sidebar: #ebebeb;
    --color-muted: #f8f9fa;
    --color-foreground: #333333;
    --color-popover: var(--color-background);
    --color-accent: #f5f5f7;
    --color-primary: #6366f1;
    --color-primary-foreground: #fafafa;
    --color-secondary: #ededed;
    --color-secondary-foreground: #323232;
    --color-destructive: #dc2626;
    --color-input: #a7a7a7;
    --color-ring: #8b5cf6;
    --color-muted-foreground: #6b7280;

    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}